@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.about {
  /* border-radius: 50%; */
  /* width: 31rem; */
  /* height: 19rem; */
  object-fit: contain;
  aspect-ratio: 3/3;
  padding: 20px;
  
}
